table, div {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
  }
  td, th {
      padding: 8px;
  }
  .header-border {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .header-border-top {
    border-top: 1px solid black;
  }
  .header-border-bottom {
    border-bottom: 1px solid black;
  }
  .line-border {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
  .line-border-top {
    border-top: 1px solid lightgray;
  }
  .line-border-bottom {
    border-bottom: 1px solid lightgray;
  }
  .cabeceras{
    background-color:#c0c0c0; 
  }
  .conborde{
    border: 1px solid black;
  }
  body{
    padding: 10px;
  }
  p{
    font-weight: bold;
  }